@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ITOS_LEARN!</h1>
    <p>This is the home page.</p>

    <p>Here is some additional content that you can add:</p>
    <ul>
        <li>Learning about ASP.NET Core MVC</li>
        <li>Building a web app with Entity Framework</li>
        <li>Implementing login/logout functionality</li>
    </ul>

    <p>Enjoy learning!</p>
</div>
